


<p id="notice"><%= notice %></p>

<!-- <div class="page-header">
    <center><h1 id="container"></h1></center>
    <div
  		class="fb-like"
  		data-share="true"
  		data-width="450"
  		data-show-faces="true">
	</div>
</div> -->

<section id="hero">
  <div class="overlay">
    <div class="container">
      <h1 class="text-center">ClusterCard.net</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <p class="lead">Get your heart pumping by creating a video greeting or<br class="hidden-sm"> well-wishes for your friends.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row text-center">
            <div class="col-md-4">
              <p>Create a unique card</p>
            </div>
            <div class="col-md-4">
              <p>Invite friends to contribute</p>
            </div>
            <div class="col-md-4">
              <p>Share!</p>
            </div>
          </div>
          <!--
          <p><%= link_to 'Learn more', info_path, class: "btn btn-primary btn-lg", method: :get %></p>
          -->
        </div>
        </div>
        
        <div class="row cta">
          <div class="col-md-12 text-center">
            <%= link_to 'Create your card', new_card_path, class: "btn btn-primary btn-xl" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="examples">
  <div class="container">
    <h2 class="text-center">Need some ideas?</h2>
    <!-- <p>Create a short video in one of the following categories -- then invite others to add short videos of their own -- then send your customized, heart-felt ClusterCard via email or FB:</p> -->
    <div class="row">
      <div class="col-md-4">
        <div class="card birthday">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[0]}" %></h3>
              <p>Don't send the same ol' FB post!  Send your friends or loved ones a video ClusterCard to wish a very <i>Happy Birthday!</i></p>

              <hr>
              <div class="text-center clearfix actions">
              <%= link_to 'See Example', card_path(70), class: "btn btn-default pull-left", method: :get %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card congratulations">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[1]}" %></h3>
              <p>New family addition?  New graduate?  New job?  Send your 'Congrats' with a video ClusterCard!</p>
              <hr>
              <div class="text-center clearfix actions">
                <%= link_to 'See Example', card_path(70), class: "btn btn-default pull-left", method: :get %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card wedding">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[2]}" %></h3>
              <p>Send some heart-felt wishes for this special occasion.</p>
              <hr>
              <div class="text-center clearfix actions">
              <%= link_to 'See Example', card_path(70), class: "btn btn-default pull-left", method: :get %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card anniversary">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[3]}" %></h3>
              <p>Share the love with anniversary wishes to the deserving couple.</p>
              <hr>
              <div class="text-center clearfix actions">
              <%= link_to 'See Example', card_path(70), class: "btn btn-default pull-left", method: :get %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card sympathy">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[4]}" %></h3>
              <p>Say <i>I'm here for you</i> with a simple, meaningful video message.</p>
              <hr>
              <div class="text-center clearfix actions">
              <%= link_to 'See Example', card_path(70), class: "btn btn-default pull-left", method: :get %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card thank_you">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[5]}" %></h3>
              <p>Your <i>THANK YOU</i> can mean so much more when you say it with a ClusterCard! </p>
              <hr>
              <div class="text-center clearfix actions">
              <%= link_to 'See Example', card_path(70), class: "btn btn-default pull-left", method: :get %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

<!-- <div class="jumbotron">
    <center><h1>ClusterCard.net</h1>
      <p><h4>Create a birthday, greeting, or well-wishes video card for your friends. </h4></p>
    <p><h4>Each ClusterCard has its own page of videos.</h4></p>
	<p><h4>Invite others to contribute.</h4></p>
    <p><%= link_to 'Learn more', info_path, class: "btn btn-warning btn-lg", method: :get %></p>
    <p><%= link_to 'Create your card', new_card_path, class: "btn btn-success btn-lg" %></p></center>
</div> 

<%= bootstrap_form_for(@card, layout: :inline) do |f| %>
            <%= f.label :slug, 'http://clustercard.net/' %>
            <%= f.text_field :slug, hide_label: true, required: true %>
            <%= hidden_field_tag :page1, value = "y" %>
            <%= f.submit "Create Card", class: "btn btn-primary btn-lg btn-block" %>
          <% end %>

          -->

