<!-- <p id="notice"><%= notice %></p> -->

<!-- <div class="page-header">
    <center><h1 id="container"></h1></center>
    <div
  		class="fb-like"
  		data-share="true"
  		data-width="450"
  		data-show-faces="true">
	</div>
</div> -->

<section id="hero" class="anniversary">
  <div class="overlay">
    <div class="container">
      <h1 class="text-center">Cluster Card</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <p class="lead">Crowdsourced video greeting cards<br class="hidden-sm"> for family, friends -- or anyone!</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row text-center">
            <div class="col-md-4">
              <p>Create a card with a unique web address.</p>
            </div>
            <div class="col-md-4">
              <p>Upload a video and<br>attach it to a card.</p>
            </div>
            <div class="col-md-4">
              <p>Invite more contributors!</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="text-center">
        <p>Easy. &nbsp;Fast.<br>Right from your phone or browser.</p>
      </div>
        
        <div class="row cta">
          <div class="col-md-12 text-center">
            <%= link_to 'Get Started Now', new_card_path, class: "btn btn-primary btn-xl" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="examples">
  <div class="container">
    <h2 class="text-center">Card Categories</h2>

    <div class="row">
      <div class="col-md-4">
        <div class="card birthday">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[0]}" %></h3>
              <p>Don't send the same ol' FB post!  Send your friends or loved ones a video ClusterCard to wish a very <i>Happy Birthday!</i></p>

              <hr>
              <div class="text-center clearfix actions">
              <%= link_to 'See Example', cardslug_path('birthday'), class: "btn btn-default pull-left", method: :get %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card congratulations">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[1]}" %></h3>
              <p>New family addition?  New graduate?  New job?  Send your 'Congrats' with a video ClusterCard!</p>
              <hr>
              <div class="text-center clearfix actions">
                <%= link_to 'See Example', cardslug_path('congratulations'), class: "btn btn-default pull-left", method: :get %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card wedding">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[2]}" %></h3>
              <p>Send some heart-felt wishes for this special occasion.</p>
              <hr>
              <div class="text-center clearfix actions">
              <%= link_to 'See Example', cardslug_path('wedding'), class: "btn btn-default pull-left", method: :get %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card anniversary">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[3]}" %></h3>
              <p>Share the love with anniversary wishes to the deserving couple.</p>
              <hr>
              <div class="text-center clearfix actions">
              <%= link_to 'See Example', cardslug_path('anniversary'), class: "btn btn-default pull-left" %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card sympathy">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[4]}" %></h3>
              <p>Say <i>I'm here for you</i> with a simple, meaningful video message.</p>
              <hr>
              <div class="text-center clearfix actions">
              <%= link_to 'See Example', cardslug_path('sympathy'), class: "btn btn-default pull-left", method: :get %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card thank_you">
          <div class="overlay">
            <div class="frame">
              <h3><%= "#{Card::CARD_CATEGORIES[5]}" %></h3>
              <p>Your <i>THANK YOU</i> can mean so much more when you say it with a ClusterCard! </p>
              <hr>
              <div class="text-center clearfix actions">
              <%= link_to 'See Example', cardslug_path('thanks'), class: "btn btn-default pull-left", method: :get %> OR <%= link_to 'Create your own', cards_path, class: "btn btn-primary pull-right", method: :get %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
        <p>Don't see a Category to fit your video card?</p>
        <p>No problem!</p>
        <p>Create your own fun ClusterCard!</p>
      </div>

    <div class="row cta">
      <div class="col-md-12 text-center">
        <%= link_to 'Create Your Card', new_card_path, class: "btn btn-primary btn-xl" %>
      </div>
    </div>
  </div>
</section>

