<p id="notice"><%= notice %></p>
<!-- 
<div class="page-header">
    <center><h1 id="container"></h1></center>
</div> -->

<div class="jumbotron">
    <center><h1>ClusterCard.net</h1>
    <p>Get your heart pumping by creating a video greeting or well-wishes for your friends.</p>
    <p>Each ClusterCard has its own page.</p>
	<p>Invite others to contribute.</p>
    <p><%= link_to 'Learn more', info_path, class: "btn btn-primary btn-lg", method: :get %></p></center>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="well bs-component">
			<legend><center>Ready to make a Video Card for someone?  Enter a unique identifier:</legend>
			<div class="col-lg-10">
				<%= bootstrap_form_for(@card, layout: :inline) do |f| %>
  					<h2><%= f.label :slug, 'http://clustercard.net/' %>
  					<%= f.text_field :slug, hide_label: true, required: true %>
  					<%= hidden_field_tag :page1, value = "y" %></p>
					<%= f.submit "Go To Your Card", class: "btn btn-primary btn-block" %>
					</div></h2></center>
				<% end %>
			</div>
		</div>
	</div>
</div>