<script>
  $(function() {
  $(".bs-wizard").bs_wizard();
  });
</script>



<div class="row bs-wizard">
	<div class="col-lg-12">
		<div class="well bs-component">
                  <%= bootstrap_form_for(@card, layout: :inline) do |f| %>



                  <div class="bs-step inv">
                    <div class="bs-step-inner">
                      <legend><center>What URL would you like for your card?  </legend></center>
                          <br> 
                          This card needs to not move forward without valid input...
                          <br> 
                          http://clustercard.net/<%= f.text_field :slug, hide_label: true %>
                    </div>
                  </div>

                  <div class="bs-step inv">
                    <div class="bs-step-inner">
                      <legend><center>What title would you like for your card?  For example, "Happy 78th to Jack Nicholson!"  </legend></center>
                          <br> 
                          this card needs to not move forward without valid input
                          <br> 
                      <%= f.text_field :title, hide_label: true %>
                    </div>
                  </div>

                  <div class="bs-step inv">
                    <div class="bs-step-inner">
                      <legend><center>What kind of card is this?    </legend></center>
                          <br> 
                          <br> 
                          <%= f.form_group :category, label: { text: "Card Category" } do %>
                          <%= f.radio_button :category, 'birthday', label: "Birthday", inline: true %>
                          <%= f.radio_button :category, 'anniversary', label: "Anniversary", inline: true %>
                          <%= f.radio_button :category, 'graduation', label: "Graduation", inline: true %>
                          <% end %>
                    </div>
                  </div>

                  <div class="bs-step inv">
                    <div class="bs-step-inner">
                      Summary of card values here before creation?  Not sure how to do that...
				<%= f.submit "Go To Your Card", class: "btn btn-primary btn-block" %>
                    </div>
                  </div>




                <% end %>
                </div>
	</div>
</div>
