<script>
  $(function() {
  $(".bs-wizard").bs_wizard();
  });
</script>

<div class="container">
  <div class="row bs-wizard">
    <div class="col-md-6 col-md-offset-3">
      <div class="well bs-component">
        <%= bootstrap_form_for(@card) do |f| %>

          <div class="bs-step inv">
            <div class="bs-step-inner">
              <h3 class="text-center">What URL would you like for your card?</h3>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">http://clustercard.net/</span>
                  <%= f.text_field :slug, hide_label: true, :required => "true", :class => 'input-lg' %>
                </div>
            </div>
          </div>

          <div class="bs-step inv">
            <div class="bs-step-inner">
              <h3 class="text-center">What title would you like for your card?</h3>
              <%= f.text_field :title, hide_label: true, placeholder: 'e.g. "Happy 78th to Uncle Bob!"', :class => 'input-lg' %>
            </div>
          </div>

          <div class="bs-step inv">
            <div class="bs-step-inner">
              <h3 class="text-center">Pick a theme for your card:</h3>
              <%= f.form_group :category do %>
                <% Card::CARD_CATEGORIES.each do |cc| %>
                  <% if cc == "birthday" %>
                    <%= f.radio_button :category, cc, label: cc.humanize, checked: true %>
                  <% else %>
                    <%= f.radio_button :category, cc, label: cc.humanize %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="bs-step inv">
            <div class="bs-step-inner">
              <h1 id="titlePreview"></h1>
              TODO: **Summary of card values here before creation?  Not sure how to do that...
              <%= f.submit "Go To Your Card", class: "btn btn-primary btn-block" %>
            </div>
          </div>
        <% end %>
      
      </div>
    </div>
  </div>
</div>

