<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

<center>
<p><h1>Add a Title to Your Card</h1></p></h1>

<p><h2><%= form_for @card do |f| %>
  <%= f.hidden_field :slug, value: @card.slug %>
  <%= f.label :title, 'Title: ' %>
  <%= f.text_field :title, required: true %></p><br>

  <p><%= f.submit "Add to Card" %></p></center>
  <%= button_to 'Back', cards_path %></h2>
<% end %>