<div class="jumbotron">
    <center><h1>Videos for:  
    <%=@card.title.split.map(&:capitalize)*' ' %></h1></center>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="well bs-component">
            <div class="col-lg-10">
                <%= bootstrap_form_for(@video, layout: :inline) do |f| %>
                    <h2><center><%= f.hidden_field :card_id, value: @card.id %>
                    <%= f.label :contributor, 'Your Name' %>
                    <%= f.text_field :contributor, hide_label: true, required: true, placeholder: '<to attach to video>' %><br><br>

                    <camera id='clustercard' name='video' data-app-id='a-83503570-ab0a-0132-98d5-22000a1c8efd' data-poll-for-processed='true'></camera><br>

					<%= f.submit "Submit", class: "btn btn-primary btn-block" %></center><br>
                    <%= button_to 'Back', cards_path %></h2>
				<% end %>

  			    <% @card.videos.each do |v| %>
    			    Sent by:  <%= v.contributor.split.map(&:capitalize)*' ' %>
                            <br>
    			    <video id='vid_<%=v.id%>' data-uuid='<%= v.video_uuid %>'></video><br> 
                            <br>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#fakemodal" type="button">
                            <%= image_tag(v.small_thumb) %>
                          </a>






                            <br>
                            <%= image_tag(v.thumb) %>
                    <!-- #change to '#{@card.id}_v.id' to ID videos belonging to cards -->
  			    <% end %>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



