<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2051596044981118',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <div class="page-header">
      <center><h1 id="container"></h1></center>
      <div
        class="fb-like"
        padding-left: "5px"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>
  </div>



<script>
  var cluster_camera_id = '<%= ENV["CAMERA"] %>';

  CameraTag.observe(cluster_camera_id, 'published', function(){
     $("#new_video").submit();
   });

  CameraTag.observe(cluster_camera_id, 'processed', function(){
     alert('this video has been processed!')
   });

</script>

<style>
  html{
  /* This image will be displayed fullscreen */
  background:url('<%= image_tag(@card.category + ".png") %>') no-repeat center center;

  /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;

  /* The Magic */
  background-size:cover;
  }

  body{
  /* Workaround for some mobile browsers */
  min-height:100%;
  }


</style>

<section class="card <%=@card.category %>">
  <div class="overlay">
    <div class="frame">
      <div class="container-fluid">
        <h1 class="text-center"><%=@card.title %></h1>
        <p class="lead text-center">•••</p>
        <div class="row videos">
          <div class="col-xs-12 text-center">

      <div class="col-lg-12">
            <% @card.videos.each do |v| %>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#video_modal_<%=v.id%>" >
              <%= image_tag(v.small_thumb, class: 'video-message') %></a>
                  <!-- , style: 'border-radius: 50px;' (would round edges on box)-->

              <div class="modal fade" id="video_modal_<%=v.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><%=v.contributor%></h4>
                    </div>
                    <div class="modal-body">
                      <video id='vid_<%=v.id%>' data-uuid='<%= v.video_uuid %>'></video><br> 
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <%= bootstrap_form_for(@video, layout: :inline) do |f| %>
              <%= f.hidden_field :card_id, value: @card.id %>
                <camera 
                id=<%= ENV['CAMERA'] %> 
                name='video' 
                data-app-id=<%= ENV['CAMERA_KEY'] %> 
                data-pre-roll-length='3'
                data-detect-camera='false'
                data-poll-for-processed='true'>
                </camera>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $( document ).ready(function() {
    console.log( "ready!" );

    var imageData = Array();

    for(var i = 0; i < imageTemp.2; i++){
        updateImageData( i );
    }

    function updateImageData( i )
        $.ajax({
            type: "HEAD",
            async: true,
            url: "https://cameratag.com/videos/v-3ced23b5-035e-4b8d-9811-dbdc8b383ed6/qvga/small_thumb.png",
            success: function(){
                console.log('yup, it is there');
            }
        });
    }
  });
</script>

