<div class="jumbotron">
    <center><h1>Videos for:  
    <%=@card.title.split.map(&:capitalize)*' ' %></h1></center>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="well bs-component">
            <div class="col-lg-10">
                <%= bootstrap_form_for(@video, layout: :inline) do |f| %>
                    <h2><center><%= f.hidden_field :card_id, value: @card.id %>
                    <%= f.label :contributor, 'Your Name' %>
                    <%= f.text_field :contributor, hide_label: true, required: true, placeholder: '<to attach to video>' %><br><br>

<camera id='clustercard' name='video' data-app-id='a-83503570-ab0a-0132-98d5-22000a1c8efd' data-poll-for-processed='true'></camera><br>

					<%= f.submit "Submit", class: "btn btn-primary btn-block" %></center><br>
                    <%= button_to 'Back', cards_path %></h2>
				<% end %>

  			    <% @card.videos.each do |v| %>
    			    Sent by:  <%= v.contributor.split.map(&:capitalize)*' ' %>
    			    <video id='vid_<%=v.id%>' data-uuid='<%= v.video_uuid %>'></video><br> 
                    <!-- #change to '#{@card.id}_v.id' to ID videos belonging to cards -->
  			    <% end %>
            </div>
        </div>
    </div>
</div>
