<script>
  var cluster_camera_id = '<%= ENV["CAMERA"] %>';

  CameraTag.observe(cluster_camera_id, 'published', function(){
     $("#new_video").submit();
   });

  CameraTag.observe(cluster_camera_id, 'processed', function(){
     alert('this video has been processed!')
   });

</script>

<style>
  html{
  /* This image will be displayed fullscreen */
  background:url('<%= image_tag(@card.category + ".png") %>') no-repeat center center;

  /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;

  /* The Magic */
  background-size:cover;
  }

  body{
  /* Workaround for some mobile browsers */
  min-height:100%;
  }

</style>


<div class="jumbotron">
    <center><h1><%=@card.title %></h1></center>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="well bs-component">
            <div class="col-lg-10">
                <%= bootstrap_form_for(@video, layout: :inline) do |f| %>
                    <h2><center><%= f.hidden_field :card_id, value: @card.id %>
                        <camera 
                        id=<%= ENV['CAMERA'] %> 
                        name='video' 
                        data-app-id=<%= ENV['CAMERA_KEY'] %> 
                        data-pre-roll-length='3'
                        data-detect-camera='false'
                        data-poll-for-processed='true'>
                        </camera><br>
                    </center><br>
                      <% end %>
                    <% @card.videos.each do |v| %>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#video_modal_<%=v.id%>" >
                    <%= image_tag(v.small_thumb, class: 'img-circle', style: "width: 140px; height: 140px; border: 3px solid red; float: left; margin-right: 10px; margin-top: 25px;") %></a>
                      <!-- , style: 'border-radius: 50px;' (will round edges on box)-->

                    <div class="modal fade" id="video_modal_<%=v.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel"><%=v.contributor%></h4>
                                </div>
                                <div class="modal-body">
                                    <video id='vid_<%=v.id%>' data-uuid='<%= v.video_uuid %>'></video><br> 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>



