<div class="jumbotron">
    <center><h1>ClusterCard.net</h1>
    <p>Create a short video in one of the following categories -- then invite others to add short videos of their own -- then send your customized, heart-felt ClusterCard via email or FB: </p>


<div class="col-lg-4">
    <div class="bs-component">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><%= "#{Card::CARD_CATEGORIES[0]}" %></h3>
            </div>
            <div class="panel-body">
                Don't send the same ol' FB post!  Send your friends or loved ones a video ClusterCard to wish a very Happy Birthday!
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><%= "#{Card::CARD_CATEGORIES[1]}" %></h3>
            </div>
        	<div class="panel-body">
            	Panel content
        	</div>
    	</div>

    	<div class="panel panel-warning">
        	<div class="panel-heading">
            	<h3 class="panel-title"><%= "#{Card::CARD_CATEGORIES[2]}" %></h3>
        	</div>
        	<div class="panel-body">
            	Panel content
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="bs-component">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><%= "#{Card::CARD_CATEGORIES[3]}" %></h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%= "#{Card::CARD_CATEGORIES[4]}" %></h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

<!--         <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><%= "#{Card::CARD_CATEGORIES[5]}" %></h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div> -->
    </div>
</div>